 /* use to google font work sans  */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,800;1,700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,500;1,700&family=Work+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,400&display=swap');

*{
    font-family: 'Open Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Work Sans', sans-serif;
}
/* heard  styles  */

header{
    background-color: rgba(255, 144, 14, 0.10);
    padding:50px 240px;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items:center ;
}

.nav-title{
    font-size:2.8rem;
    font-weight: 700px;
    color:#131313;
}

nav > ul {
    display: flex;

}

nav li{
    list-style: none;
    margin-left: 30px;
    font-weight: 500px;
    font-size: 1rem;
    
}

nav li a{
    text-decoration: none;
    color: #424242;
    
    
}

/* banner styles */

.banner-title{
    font-weight: 700px;
    font-size: 64px;
    color:#131313;
}

.banner-descrption{
    color:#727272;
    font-weight: 500;
    font-size: 1rem;
}
.btn-primary{
    width: 180px;
    height: 4rem;
    border-radius: 8px;
    background: #FF900E;
    border: 0px;
}

.banner-container{
    max-width: 800px;
    text-align: center;
    margin: 0px auto;
}